<%= simple_form_for(@intervention) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
      <%= f.input :employee, input_html: { id: "employee" }, required: 'true' %>
      <%= f.input :customer, input_html: { id: "customer" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>
      <%= f.input :building, input_html: { id: "building" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>
      <%= f.input :battery, input_html: { id: "battery" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>
      <%= f.input :column, input_html: { id: "column" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>
      <%= f.input :elevator, input_html: { id: "elevator" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>
      <%= f.input :result, input_html: { id: "result" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>
      <%= f.input :repport, input_html: { id: "repport" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>
      <%= f.input :status, input_html: { id: "status" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>
      <%= f.input :intervention_start, input_html: { id: "intervention_start" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>
      <%= f.input :intervention_finish, input_html: { id: "intervention_finish" }, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true'  %>

  </div>

 </div>
    <div class="form-inputs row">
      <%= f.input :product_line, as: :radio_buttons, collection: ['Selector'], label_method: :first, value_method: :first, required: 'true'  %>
   </div>
 <div class="form-inputs row justify-content-center">
 
  <%#  <%= recaptcha_tags %>
    </div>
    <div class="form-actions text-center">
     
      <%= f.button :submit, class: "btn btn-lg btn-red" %>
      <input type="reset" class="btn btn-lg btn-default">
      <hr />
      <%= render 'quoteinfo' %>
    </div>
  </div>
<% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
